/node_modules
/lightelligence_theme
/coverage
/Dockerfile
/docs
/deploy
/.eslintrc
/babel.config.js
/webpack.config.js
/.prettierrc
/bitbucket-pipelines.yml
/.npmrc
/.nvmrc
/docs-image.docker

# Log files
npm-debug.log*
